[global]
login =
pass =
bot_token =
sign_posts = yes
send_reposts = yes
proxy_url =
# Какие типы вложений парсить и отправлять? all - отправлять все
# Возможные варианты: text, photo, doc, video, music
# Пример: what_to_send = text,photo - будет отправляться только текст и фото, все остальное будет игнорироваться
#         what_to_send = text - будет отправляться только текст, все остальное будет игнорироваться
# Также данный параметр можно использовать индивидуально для каждой группы, но если он не указан индивидульно, то будет параметр ниже.
# Внимание! Разделять список отправляемых типов вложений только запятыми, без лишних пробелов (т.е. text,photo,video)
what_to_send = all

[domain1]
channel =
last_id =
# what_to_send = all

[domain2]
channel =
last_id =
