vk:
    login: '+1234567890'
    password: 'password'
    token: 'token'

telegram: # Подробнее в README.md
    api_hash: 'hash'
    api_id: 12345
    bot_token: 'token'

# С этого символа начинаются строки, которые будут проигнорированы
#settings:
#    disable_notification: true
#    disable_web_page_preview: false
#    send_reposts: 0
#    # Нужно ли отправлять репосты (данный параметр можно указать отдельно для каждого источника)
#    # Возможные значения: false, post_only, true:
#    #                     false - не отправлять посты, содержащие репосты
#    #                     post_only - отправлять пост без самого репоста (если пост содержит только репост, он не будет отправлен)
#    #                     true - отправлять как пост, так и репост

#    #what_to_send:
#    # - 'text'
#    # - 'link'
#    # Или
#    #what_to_send: ['text', 'link']
#    # Какие типы вложений парсить и отправлять. all - отправлять все
#    # Возможные варианты: text, link, photo, doc, video, music, polls
#    # Под link попадают также фотоальбомы и вики-страницы.
#    # Пример: what_to_send: ['text', 'photo'] - будет отправляться только текст и фото, все остальное будет игнорироваться
#    #         what_to_send: ['text'] - будет отправляться только текст, все остальное будет игнорироваться
#    # Также данный параметр можно использовать индивидуально для каждой группы.

#domains:
#    domain1:
#        channel:
#        - 123456789
#        - '@username'
#        # Или
#        #channel: [123456789, '@username']
#        #what_to_send: ['all']
#        #disable_notification: false

#    #"https://vk.com/domain2":
#    #    channel: 123456789
#    #    #last_id: 0 # ID последнего отправленного поста. Если параметр отсутствует, он будет добавлен автоматически со значением 0
#    #    #pinned_id: 0 # ID Закреплённого поста, если параметр отсутствует, он будет добавлен автоматически.
