[global]
login =
pass =

send_reposts = 2
# Нужно ли отправлять репосты (данный параметр можно указать отдельно для каждого источника)
# Возможные значения: 0 (no), 1 (post_only), 2 (yes, all):
#                     0 - не отправлять посты, содержащие репосты
#                     1 - отправлять пост без самого репоста (если пост содержит только репост, он не будет отправлен)
#                     2 - отправлять как пост, так и репост

what_to_send = all
# Какие типы вложений парсить и отправлять? all - отправлять все
# Возможные варианты: text, link, photo, doc, video, music, polls
# Под link попадают также фотоальбомы и вики-страницы.
# Пример: what_to_send = text,photo - будет отправляться только текст и фото, все остальное будет игнорироваться
#         what_to_send = text - будет отправляться только текст, все остальное будет игнорироваться
# Также данный параметр можно использовать индивидуально для каждой группы, но если он не указан индивидульно, то будет параметр ниже.
# Внимание! Разделять список отправляемых типов вложений только запятыми, без лишних пробелов (т.е. text,photo,video)

[pyrogram] # Подробнее в README.md
api_id =
api_hash =
bot_token =

[domain1]
channel =
# what_to_send = all
# disable_notification = no

[domain2]
channel =
# last_id = # ID последнего отправленного поста. Если параметр отсутствует, он будет добавлен автоматически со значением 0
# pinned_id = # ID Закреплённого поста, если параметр отсутствует, он будет добавлен автоматически.