vk_api @ git+https://github.com/python273/vk_api@master
pyrogram==2.0.106
tgcrypto
loguru==0.7.2
wget==3.2
mutagen==1.47.0
beautifulsoup4==4.12.2
apscheduler==3.10.4
PyYAML==6.0.1
m3u8==3.6.0
pycryptodome==3.19.0
moviepy==1.0.3