[DEFAULT]
# Токен бота-конфигуратора. Можно использоваться токен того же бота, что используется для автопостинга
bot_token =
# Telegram ID администратора бота
admin_id =
# Абсолютный (или относительный) путь к конфигу (файлу config.ini) бота, который занимается автопостингом. Менять, обычно, не нужно.
bot_config_path = ../config.ini
# Абсолютный путь (или относительный) к папке logs (логов) бота, который занимается автопостингом. Менять, обычно, не нужно.
bot_logs_folder_path = ../logs